/* Tous*/
:root
{
	--couleur-texte:#F9CA47;
	--couleur-fond:#579C87;
	--largeur:30%;
	--hauteur:5px;
	--bas:100px;
}
body
{
	margin:0;
	font-family: sans-serif;
	font-size: 24px;
}
h1
{
	margin:0;
	font-size: 1em;
}

#logo
{
	width: 30%;
	margin:0;
}
.top
{
	width: 100%;
	background-color: var(--couleur-fond);
	text-align:center;
	padding: 30px 0;
}
.bottom
{
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: var(--couleur-fond);
	display: flex;
	justify-content: space-between;
}
.bottom a
{
	margin: 2% 5%;
	text-decoration: none;
	font-size: 1em;
	color: var(--couleur-texte);
}
.foot:hover
{
	animation: wiggle 0.2s ease-in-out 0.2s infinite alternate;
}

@keyframes wiggle
{
	from 
	{
    	transform: rotate(10deg);
  	}
  	to 
  	{
    	transform: rotate(-10deg);
    }
}


/* Page d'accueil*/

aside
{
	display: block;
	margin: auto;
	display: flex;
	align-items:flex-end;
	background-color: var(--couleur-fond);
	color: var(--couleur-texte);
	border: none;
	border-radius: 10px;
	font-size: 1.5em;
	padding:0 3% 2%;
	margin-top: 3%;
}
#menu
{
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 5% 0 12%;
}
.menu
{
	border: 5px solid #F1F1F1;
	width:40%;
	overflow: hidden;
}
.align img
{
	transition: transform 0.5s 0.2s, opacity 0.3s;
	width: 100%;
	padding: 0;
}
.align img:hover
{
	transform: scale(1.3);
	opacity: 0.6;
}
.align
{
	display: flex;
	justify-content: space-around;
	padding:0 5%;
	margin: 2% 0;
	width: 90%;
}

#points
{
	font-size: 1.5em;
	display: flex;
	padding: 0;
}
.point_un
{
  	animation: point_un 1.5s infinite;
  	padding-left: 5px;
}
@keyframes point_un 
{
  	0% {opacity: 1;}
  	50% {opacity: 0.5;}
  	100% {opacity: 0.25;}
 }
 .point_deux
{
  	animation: point_deux 1.5s infinite;
}
@keyframes point_deux
{
  	0% {opacity: 0.5;}
  	50% {opacity: 1;}
  	100% {opacity: 0.5;}
}
.point_trois
{
  	animation: point_trois 1.5s infinite;
}
@keyframes point_trois
{
  	0% {opacity: 0.25;}
  	50% {opacity: 0.5;}
  	100% {opacity: 1;}
}

/*Toutes les pages menus */
header
{
	text-align: center;
}
article
{
	border: 5px solid #F1F1F1;
	width: 70%;
	margin:0 auto 20%;
	padding: 50px;
}
p
{
	margin: 0;
}
.titre
{
	text-align: center;
	font-weight:bold;
	margin: 80px 0 30px;
	font-size: 2em;
}
.titremenu
{
	margin: 60px 0;
}
.underline
{
	text-align: center;
	font-size:1.5em;
	margin: 50px 0;
	padding: 0 5px;
	background: linear-gradient(to top, black 5px, transparent 3px) no-repeat;
  	background-size: 0 100%;
  	transition: background-size 0.3s;
}
.underline:hover
{
	background-size: 100% 100%;
}
.platsmenu
{
	font-size: 1.2em;
	padding:0 10%;
	font-weight: bold;
	margin-bottom: 70px;
	font-family: "Farsan", cursive;
}
.description
{
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.5em;
}
.txt
{
	font-weight: normal;
}

/*Menu1*/
#menu1
{
	background-color:#FCDFDB;
	padding-bottom: var(--bas);
}
#menu1>.titremenu p
{
	font-family: "Devonshire";
	font-size: 3em;
}
.titremenu img
{
	width: 10%;
}
.entete1,.entete3_1, .entete3_2, .entete3_3, .entete4
{
  	display:flex;
  	justify-content:space-between;
  	align-items: center;
}
.entete1::before,.entete1::after
{
  height:var(--hauteur);
  width: var(--largeur); 
  background: black;
  content:""
}
.footermenu1
{
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Devonshire";
	font-size: 2em;
	margin-bottom: 70px;
}
.footermenu1 img
{
	width: 5%;
	margin:10px;
}


/* Menu 2*/

#menu2
{
	background-color:#FFF5FE;
	padding-bottom: var(--bas);
}

#menu2 >.titremenu
{
	font-family: "Croissant One";
	font-size: 2em;
	background:-webkit-linear-gradient(bottom right, #C67412, #A56799,#6E4CCC);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	background: linear-gradient(bottom right, #C67412, #A56799,#6E4CCC);
}
.entete2
{
  	display:flex;
  	justify-content:space-between;
  	align-items: center;
  	margin:50px 0 20px;
  	font-size: 1em;
}
.entete2:before,.entete2:after
{
  height:var(--hauteur);
  width: 23%; 
  content:""
}

#platsmenu2
{
	font-family: "noto serif";
	font-size: 0.9em;
	padding:0 10%;
	margin-bottom: 150px;
}
#entrees2
{
	color: #C67412;
}
#entrees2 h1
{
	background: linear-gradient(to top, #C67412 5px, transparent 3px) no-repeat;
	background-size: 0 100%;
  	transition: background-size 0.3s;

}
#entrees2 h1:hover
{
	background-size: 100% 100%;
}

#entrees2>.entete2:before,#entrees2>.entete2:after
{
  background:#C67412;
}

#plats2
{
	color: #A56799;
}

#plats2 h1
{
	background: linear-gradient(to top, #A56799 5px, transparent 3px) no-repeat;
	background-size: 0 100%;
  	transition: background-size 0.3s;
}
#plats2 h1:hover
{
	background-size: 100% 100%;
}

#plats2>.entete2:before,#plats2>.entete2:after
{
  background:#A56799;
}

#desserts2
{
	color: #6E4CCC;
}
#desserts2 h1
{
	background: linear-gradient(to top, #6E4CCC 5px, transparent 3px) no-repeat;
	background-size: 0 100%;
  	transition: background-size 0.3s;
}
#desserts2 h1:hover
{
	background-size: 100% 100%;
}

#desserts2>.entete2:before,#desserts2>.entete2:after
{
  background:#6E4CCC;
}


/* Menu 3*/
#menu3
{
	background-color: #EDEFEF;
	padding-bottom: var(--bas);
}
#menu3 >.titremenu
{
	font-family: "Great Vibes";
	font-size: 5em;
	background:-webkit-linear-gradient(left,#153EDE , #0870F3,#359DF7);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	background: linear-gradient(left,#153EDE , #0870F3,#359DF7);
}

.entete3_1:before,.entete3_1:after
{
  height:var(--hauteur);
  width: var(--largeur); 
  background: #153EDE;
  content:""
}


.entete3_2:before,.entete3_2:after
{
  height:var(--hauteur);
  width: var(--largeur); 
  background: #0870F3;
  content:""
}

.entete3_3:before,.entete3_3:after
{
   height:var(--hauteur);
  width: var(--largeur); 
  background: #359DF7;
  content:""
}

/* Menu 4 */
#menu4
{
	background-color: #FDFFFD;
	padding-bottom: var(--bas);
}
#menu4 >.titremenu
{
	font-family: "Kaushan script";
	font-size: 3em;
	background:-webkit-linear-gradient(left,#45993E , #C5F791);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	background: linear-gradient(left,#45993E , #C5F791);
}

.entete4:before,.entete4:after
{
  height:var(--hauteur);
  width: var(--largeur);  
  content:""
}
.entete4:before
{
	background: -webkit-linear-gradient(left,#45993E , #C5F791);
	background: linear-gradient(left,#45993E , #C5F791);
}
.entete4:after
{
  background: -webkit-linear-gradient(right,#45993E , #C5F791);
  background: linear-gradient(left,#45993E , #C5F791);
}

@media screen and (max-width: 1030px)
{
	:root
	{
		--largeur:25%;
		--hauteur:3px;
		--bas:100px;
	}
	body
	{
		font-size: 16px;
	}
	#logo
	{
		width: 45%;
	}
	.platsmenu
	{
		margin-bottom: 0;
		font-size: 1.5em;
	}
	.underline
	{
		font-size: 1.25em;
		margin: 30px 0;
	}

	#platsmenu2
	{
		font-size:1.15em;
	}
	#menu3>.titremenu
	{
		font-size: 4em;
	}
	.txt
	{
		margin-right: 15px;
	}
	.bottom a 
	{
		font-size: 1.5em;
	}
}
@media screen and (max-width:700px)
{
	/* Page index */

	article
	{
		padding: 0;
		margin-bottom: 70px;
		width: 85%;
	}

	#logo
	{
		width: 60%;
	}
	.align
	{
		flex-direction: column;
		align-items: center;
		margin:auto;
	}
	.titre
	{
		margin-top: 40px;
	}
	#menu
	{
		margin: 10% 0 15%;
	}
	.menu
	{
		width: 90%;
		margin-bottom: 10%;
	}
	aside
	{
		margin-top: 0;
		font-size: 1em;
	}
	.foot
	{
		padding: 2% 5%;
	}

	/*Pages Menu*/
	:root
	{
		--largeur:25%;
		--hauteur:3px;
		--bas:30px;
	}
	.titre
	{
		font-size: 1.5em;
	}
	.platsmenu
	{
		font-size: 0.9em;
		margin-bottom: 0;
	}
	.titremenu
	{
		margin-bottom: 20px;
	}
	.underline
	{
		font-size: 1.2em;
	}
	#menu1>.titremenu p
	{
		font-size: 2em;
		margin-bottom: 0;
	}
	#platsmenu2
	{
		padding: 0 5%;
	}
	#platsmenu2>.description
	{
		font-size: 1.2em;
	}
	#menu3>.titremenu
	{
		font-size: 2.5em;
	}
	#menu4 >.titremenu
	{
		font-size: 1.5em;
	}
	#menu4
	{
		font-size: 0.9em;
	}
	.bottom a
	{
		margin: 0 5%;
		padding: 3% 0;
		font-size: 0.9em;
	}
}
